<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <h1>Edit Your Booking for <%=  @item.name %> </h1>
      <%= render 'form', item: @item %>
  </div>
</div>
