<div class="logo d-flex justify-content-between">
    <% if false %>
    <div class="rounded-circle logo-image d-flex justify-content-center align-items-center">
        <span>F</span>
    </div>
    <% end %>
    <div class="logo-text d-flex justify-content-center align-items-center ml-2">
        <span>fashionista.</span>
    </div>
</div>