<div class="container">
  <div class="row">
    <div>
      <% if @user.items.present? %>
        <% @user.items.each do |item| %>
          <%= item.name %>
        <% end %>
      <% else %>
        <p>You do not have any items</p>
      <% end %>
    </div>



    <div>
      <% if @user.bookings.present? %>
        <% @user.bookings.each do |booking| %>
          <%= booking.start_date %> <%= booking.end_date %>
        <% end %>
      <% else %>
        <p>You do not have any bookings</p>
      <% end %>
    </div>
  </div>
</div>
