<div class="container">
  <div class="row">
    <div>
      <% if @user.items.present? %>
        <% @user.items.each do |item| %>
          <%= item.name %>
        <% end %>
      <% else %>
        <p>You do not have any items</p>
        <%= link_to "Rent clothes here", items_path, class: "button rent review" %>
      <% end %>
      <% if @user.bookings.present? %>
        <% @user.bookings.each do |booking| %>
          <%= booking.id %>
        <% end %>
      <% else %>
        <p>You do not have any bookings</p>
        <%= link_to "Rent clothes here", items_path, class: "button rent review" %>
      <% end %>
    </div>
  </div>
</div>
