.button {
  background: $black;
  cursor: pointer;
  color: $white;
  border: 1px solid $black;
  border-radius: 3px;
  font-size: 14px;
  font-family: $body-font;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  height: 50px;
  letter-spacing: 1px;
  line-height: 50px;
  max-width: 100%;
  min-width: 350px;
  margin: 10px auto;

  &.show {
    height: 30px;
    font-size: $font-size-base * 0.8;
    padding: 10px 30px;
    &:hover {
      color: $black;
      background-color: $white;
    }
  }

    &.confirm {
    background-color: $secondary;
    border: none;
    &:hover {
      color: $secondary;
      background-color: $white;
      border: 2px solid $secondary;
    }
  }

      &.back {
    background-color: $warning;
    border: none;
    &:hover {
      color: $warning;
      background-color: $white;
      border: 2px solid $warning;
    }
  }

   &.review {
    min-width: 200px;
    padding: 15px 25px;
    background-color: $secondary;
    border: none;
    &:hover {
      color: $secondary;
      background-color: $white;
      border: 2px solid $secondary;
    }
  }

  &.back {
    min-width: 200px;
    padding: 15px 25px;
  }

  &.rent {
    min-width: 200px;
    padding: 15px 25px;
    background-color: $primary;
    border: none;
    &:hover {
      color: $primary;
      background-color: $white;
      border: 2px solid $primary;
    }
  }
}
