.navbar-lewagon {
  justify-content: space-between;
  background: $white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.auth-icon {
  width: $font-size-base * 2;
  height: $font-size-base * 2;
  &.logout {
    width: $font-size-base * 1.5;
    height: $font-size-base * 1.5;
    margin-top: 5px;
  }
}
