// Graphical variables
@import 'config/fonts';
@import 'config/colors';
@import 'config/bootstrap_variables';

// External libraries
@import 'bootstrap/scss/bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

// Your CSS partials
@import 'components/index';
@import 'pages/index';
@import 'pages/home';
@import 'flatpickr/dist/flatpickr';
@import 'select2/dist/css/select2';

// Styling for application.html.erb

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: $white;
  height: 100%;
  a {
    color: $black;
  }
  // overflow: hidden;
}

.landing-page-container,
.page-container {
  // position: relative;
  height: 100vh;
  background-color: $white;
}

.landing-page-container {
  background-image: asset-url('background_images/background2.jpg');
  background-size: cover;
}

.page-container {
  background-color: $white;
}
