<div class="col-6 mt-5 offset-3">
    <%= simple_form_for [@booking, @review] do |f| %>
    <%= f.input :content, placeholder: 'Rate your experience' %>
    <%= f.input :rating, collection: (0..5) %>
    <%= f.submit "Submit", class: "button" %>
    <% end %>
</div>