.form {
  padding: 0;
}

.form-heading {
  background-color: $light-blue;
}

.form-group {
  width: 100%;
  &.select2 {
    border: none;
    border-bottom: 2.5px solid $light-gray;
  }
}

input[type='email']::placeholder,
input[type='password']::placeholder {
  text-transform: uppercase;
  font-family: $body-font;
  font-size: $font-size-base * 0.8;
}

.form-check label {
  font-family: $body-font;
  font-size: $font-size-base * 0.8;
}
.form-control {
  padding: $font-size-base * 2 $font-size-base;
  border: none;
  border-bottom: 2.5px solid $light-gray;
}

.auth-action-container {
  padding: 0;
  width: 100%;
}

a:hover {
  text-decoration: none;
  color: $black;
}

small {
  padding-left: 12px;
}
